/*
* Programmer Name
* Date
* Description of Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { background-color : yellow ; color : orange; 
font-family: Arial, Helvetica, sans-serif;

}
h1 { 
font-size: 12pt; /* points */
text-align: center;
}

img{float:right;}
